*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.body-login{
    margin-top: 0vh;
    font-family: 'Gruppo', cursive;
    color: rgb(206, 205, 205);
    background-color: black;
    height:100px;

}

main {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{

    margin-top: 120px;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    grid-gap: 10px;
    background-color: rgb(51, 50, 50);
    border:solid, rgb(206, 205, 205);

}

.form-title{
    margin: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    grid-gap: 30px;
   
}

.form-content label{
padding-bottom: 10px;
margin-left: 0%;
display: block;

}

.form-content input{
    height:30px;
    width: 300px;

}

.reminder{
    height:30px;
    width: 300px;
    color:white; 
    text-align: center;
    transition: .3s;
}

.reminder:hover{

    color:orangered; 

}

.btn-entrar, .btn-1acesso {

    text-decoration: none;
    font-family: 'Gruppo', cursive;
    text-transform:uppercase;
    justify-content: center;
    width: 40%;
    border-width: 1.5px;
    border-radius: 2rem;
    font-weight: 700;
    height: 3rem;
    transition: .5s;

}

.btn-entrar{

    border-color: orangered;
    background-color: orangered;
    color: white;
    transition: .5s;
    border-left-color: black;
}

.btn-1acesso{
    border-color: orangered;
    background-color: white;
    color: orangered;
    transition: .5s;
    border-left-color: black;

}

.btn-entrar:hover{
    cursor: pointer;
    background-color: rgb(196, 100, 66);
    color: black;
}

.btn-1acesso:hover{
    cursor: pointer;
    background-color: rgb(223, 221, 221)  ;
    color: black;
}

footer{
    margin-top: 30px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:lighter;
    font-size: 0.7rem;

}

/* responsividade*/

@media(max-width: 750px){

    body{
 
        display: flex;
        position: relative;

    }


    .header-container{

        flex-direction: column;
        position: relative;

    }

    .header-nav{
        margin:0;
        flex-direction: column;
        width: 100%;
        position: relative;

    }

    .nav-header-list{
        flex-direction: column;
        width: 100%;

    }

    .form-container{
        margin-top: 20rem;
        width: 100%;
    }

}

